@media (min-width: 700px) {
    // .BookSearch {
    //     // width: 45%;
    // }
    .Search {
        width: 50%;
    }
    .Cart {
        display: flex;
    }
    .Menu {
        display: none;
    }
}

@media (max-width: 700px) {
    .BookSearch {
        margin-left: 4%;
        // width: 80%;
    }
    .Cart {
        display: none;
    }
    .Menu {
        display: flex;
    }
    .BookStore {
        display: none;
    }
}

.NavBar {
    display: flex;
    background-color: #a03037;
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    height: 60px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 90;
    .BookSearch {
        display: flex;
        margin-left: 15px;
        justify-content: space-between;
        .BookLogoText {
            display: flex;
            justify-content: center;
            align-items: center;

            .Logo {
                width: 31px;
                height: 24px;
                cursor: pointer;
            }

            .BookStore {
                text-align: left;
                font-size: 18px;
                letter-spacing: 0px;
                color: #ffffff;
                text-transform: capitalize;
                padding: 5px 10px;
            }
        }
    }
    .Search {
        display: flex;
        height: 33px;
        // width: 490px;
        align-items: center;
        background-color: #ffffff;
        border-radius: 3px;

        .SearchIcon {
            padding-left: 10px;
            padding-right: 6px;
            padding-top: 4px;
            align-items: center;
            justify-content: center;
            color: #9d9d9d;
        }

        .Input {
            display: flex;
            color: inherit;
            padding: 8px 8px 8px 0;
            font-size: 13px;
            align-items: center;
            width: 100%;
        }
    }
    .Cart {
        align-items: center;

        .CartName {
            font-size: 15px;
            letter-spacing: 0px;
            color: #ffffff;
            text-transform: capitalize;
            padding: 5px 6px;
        }

        .CartLogo {
            width: 20px;
            height: 21px;
        }
    }
}

#SimpleMenu {
    top: 42px;
    left: -61px;

    .ProfileImgDiv{
        display: flex;
        margin-left: 30%;
    }

    .Profilemenu {
        display: flex;
        width: 100%;
        .ProfilemenuNewcustomer {
            color: black;
            font-weight: bold;
            padding-right: 42px;
        }
        .ProfilemenuSignup {
            font-weight: bold;
            color: #a03037;
            text-decoration: none;
        }
    }
    .AccountMenu{
        display: flex;
        width: 100%;

        .ProfileHeading {
            color: black;
          }
          
          .AccountIcon {
            color: #8f2b2f;
            opacity: 1;
            padding-right: 13px;
          }
    }
    .WishlistMenu{
        display: flex;
        width: 100%;

        .WishlistHeading {
            color: black;
          }
          
          .WishlistIcon {
            color: #8f2b2f;
            opacity: 1;
            padding-right: 13px;
          }
    }
    .OrderMenu{
        display: flex;
        width: 100%;

        .OrdersHeading {
            color: black;
          }
          
          .ShoppingIcon {
            color: #8f2b2f;
            opacity: 1;
            padding-right: 13px;
          }
    }
    .SignoutMenu{
        display: flex;
        width: 100%;
        justify-content: center;

        .Signout{
            color: #8f2b2f;
            font-weight: bold;
          }
    }
}
