.BookInfo{
    display: flex;
    flex-direction: column;

    .Book_Name_Div{
        margin-bottom: 12px;
    }
    .Author_Name_Div{
        margin-bottom: 17px;
    }
    .Book_Price_And_Count{
        display: flex;
        margin-bottom: 12px;
    }
    .Description{
        margin-bottom: 2px;
    }
}

.Done_Button{
    margin-right: 12px;
    margin-bottom: 12px;
}